<nav id="styleguideSidebar" class="sidebar sidebar--hidden">
    <div class="sidebar__header">
        <div class="sidebar__header-title">Menu</div>
    </div>
    <ul id="rootSidebar" data-kss-ref="styleguide.homepage">
        <li class="sidebar__item" id="section-gettingStarted">
            <a href="home">Maintenance groups</a>
        </li>
    </ul>
    <ul id="rootSidebarDev" data-kss-ref="styleguide.homepage">
        <li class="sidebar__item" id="section-devices">
            <a href="devices">Devices</a>
        </li>
    </ul>
    <ul id="rootSidebar2" data-kss-ref="styleguide.homepage">
        <li class="sidebar__item" id="section-configure">
            <a href="configuration">Configuration</a>
        </li>
    </ul>
    <ul id="rootSidebar3" data-kss-ref="styleguide.homepage">
        <li class="sidebar__item" id="section-upgrade">
            <a href="upgrade">Upgrade</a>
        </li>
    </ul>

</nav>